html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: 200px repeat(3, 1fr);

    grid-gap: 30px;
}

.container > * {
    background-color: red;
    color: #ffffff;
    font-size: 30px;
    font-family: sans-serif;
    padding: 30px;
}

.header {
    grid-column: 1 / -1;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.main-content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 1 / -1;
}